<?xml version="1.0" encoding="utf-8"?><!--android:sharedUserId="android.uid.system"-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mvvmdemo"
        tools:replace="android:extractNativeLibs">
        <activity
            android:name=".upload.view.UploadSettingsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".test.TestActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" /> <!-- android:windowSoftInputMode="adjustPan|stateAlwaysHidden|adjustNothing" -->
        <!-- android:configChanges="orientation|keyboardHidden|keyboard" -->
        <activity
            android:name=".test.debug.DebugActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity android:name=".project.list.ProjectListActivity"></activity>
        <activity android:name=".project.details.ProjectDetailsActivity"></activity>
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:theme="@style/AppTheme.StartingWindowTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                 <category android:name="android.intent.category.HOME" />-->
<!--                 <category android:name="android.intent.category.DEFAULT" />-->
<!--                 <category android:name="android.intent.category.MONKEY" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <receiver android:name=".app.Auto"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
<!--        <activity android:name=".ComposeTestActivity"></activity>-->
    </application>
</manifest>
